@model PropertyRenting.UI.ViewComponents.CulturePickerModel

<a class="nav-link @*dropdown-toggle*@" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-translate me-0"></i> <span class="fs-5 fw-bold text-uppercase ">@Model.ToFlagEmoji(Model.CurrentUICulture.Name)</span>
</a>
<ul class="dropdown-menu dropdown-menu-end  " aria-labelledby="langDropdown">
    @foreach (var culture in Model.SupportedCultures)
    {
        var disabled = Model.CurrentUICulture.Name == culture.Name ? "disabled" : "";
        <li>
            <a class="dropdown-item @disabled" href="@Model.BaseUrl?culture=@culture.Name">
                <span>@Model.ToFlagEmoji(culture.Name) - @culture.DisplayName</span>  @*- @culture.NativeName*@
            </a>
        </li>
    }
</ul>